<div id="logged-in-template">


    <div class="right">
        <div id="result">
            <div id="navigation">
                <ul id="pager"></ul>
                <div id="pager-header"></div>
            </div>
            <div id="docs"></div>
        </div>
    </div>

    <div class="left">
        <h2>Current Selection</h2>
        <ul id="selection"></ul>

        <h2>Search</h2>
        <span id="search_help">(press ESC to close suggestions)</span>
        <ul id="search">
            <input type="text" id="query" name="query" autocomplete="off">
        </ul>

        <h2>By Keyword</h2>
        <div class="tagcloud" id="keywords_exact"></div>

	<!--
        <h2>By Agencies</h2>
        <div class="tagcloud" id="agencies"></div>
	-->

        <h2>By Service Areas</h2>
        <div class="serviceareas" id="service_areas"></div>

        <h2>By Author</h2>
        <div class="tagcloud" id="author"></div>

	<!--
        <h2>By Date</h2>
        <div id="calendar"></div>
	-->

        <div class="clear"></div>
    </div>
    <div class="clear"></div>
</div>
